# =============================================================================
#  User Defined Env Variables
#
# 以下の変数は Rakuten RapidAPI を利用するための「必須の環境変数」です。
# ファイル名を ENVFILE.env.sample から ENVFILE.env に変更し、<your value> を書き換え
# て利用してください。クォーテーションは不要です。詳しくは README.md をご覧ください。
#
# - Rakuten Marketplace Product Search API より
#   - NAME_HOST_RAPIDAPI -> X-RapidAPI-Host の値
#   - API_KEY_RAPIDAPI   -> X-RapidAPI-Key の値
# =============================================================================

NAME_HOST_RAPIDAPI=<your value>
API_KEY_RAPIDAPI=<your value>
